node_modules
.DS_Store
node_modules
./dist
.terraform
# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan


# Ignore .terraform directory
.terraform/

# Ignore any local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
